<br/>
<p>Nos
donnéees psylles sont récolté dans ses différents bassins:

<ul>
  <li> Tarn et Garonne </li>
  <li> Pyrenees-Orientales </li>
  <li> Plaine de Valence </li>
  <li> La Crau </li>
</ul>
