<!DOCTYPE html>
<html>
   <head>
      <title>Articles</title>
   </head>
   <body>
      <h1>Bibliography</h1>
      <ol>
         <li>
            <p>Ç.U. Serçe, Michel Yvon, K. Kaya, L M. Gaze, K. Çaglayan & Nicolas Sauvion, <cite>Psyllid vectors of the phytoplasma AP (16SrX)
group in Turkey</cite>, ICVF, (2012)</p>
         </li>
         <li>
            <p>Nicolas Sauvion, Gaëll Thébaut, Laurent Brun & Gérard Labonne, <cite>Enroulement chlorotique de l'abricotier (ECA)</cite>, 3rd edition, (2012)</p>
         </li>
         <li>
            <p>Jean Peccoud, Gérard Labonne & Nicolas Sauvion, <cite>Molecular Test to Assign Individuals within the Cacopsylla pruni Complex</cite>, PlosOne, (2013)</p>
         </li>
         <li>
            <p>Nicolas Sauvion, Paul-André Calatayud, Denis Thiéry & Frédéric Marion-Poll, <cite>Interactions insectes-plantes (chapitre 38)</cite>, IRD Editions , (2013)</p>
         </li>
         <li>
            <p>Kamuran Kaya1, Çigdem Ulubas Serce, Mona Gazel, Kadriye Caglayan & Nicolas Sauvion, <cite>Potential psyllid vectors of candidatus phytoplasma mali and candidatus phytoplasma pyri in Turkey</cite>,(2016)</p>
         </li>
         <li>
            <p>Reto Meier, <cite>Professional Android 4 Application Development</cite>, 3rd edition, (2012)</p>
         </li>
         <li>
            <p>Reto Meier, <cite>Professional Android 4 Application Development</cite>, 3rd edition, (2012)</p>
         </li>
      </ol>
   </body>
</html>